
/settings.ns
/package-lock.json
/node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db
/nilu2openhab.log
/pid_snilu2openhab.pid
/checkserver2openhab.log
/pid_checkserver2openhab.pid
